:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-light-gray: #F1F5F7;
  --basic-beige: #F9F5F0;
  --basic-light-graybeige: #F1F1F1;
  --basic-light-beige: #F4F4F4;
  --basic-border-color: #EAEAEA;
  --basic-border-color-2: #E5E5E5;
  --basic-pricearea: #F7F3EC;
  --basic-gray: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-dark-teal: #32425C;
  --basic-dark-blue: #293449;
  --basic-red: #EE3643;
  --basic-dark-red: #BA2732;
  --basic-red-over: #CA2C37;
  --basic-red-click: #BA2732;
  --basic-red-shadow: #B52933;
  --basic-red-credit: #FF5357;
  --basic-red-submit: #EE3643;
  --basic-orange: #FFD180;
  --basic-teal: #3BBCE3;
  --basic-pink: #DC91D8;
  --basic-light-yellow: #FFC047;
  --basic-special-yellow: #FFBF47;
  --basic-green: #63A63E;
  --basic-light-green: #8ED78F;
  --basic-strong-green: #5FBB2D;
  --basic-dark-green: #518534;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-light-gray);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header {
  margin-bottom: 60px;
  display: grid;
  justify-self: center;
  width: 100%;
}

.main-header-bar {
  display: grid;
  justify-content: center;
  background-color: var(--basic-dark-blue);
  width: 100%;
}

.main-header a, .main-footer a {
  text-decoration: none;
}

.main-header img, .main-footer img {
  max-width: 100%;
}

.upper-line {
  width: 940px;
  height: 42px;
  background-color: var(--basic-dark-blue);
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  position: relative;
}

.upper-line img {
  width: 108px;
  height: 18px;
  padding: 17px 56px 17px 55px;
}

.upper-line a {
  color: var(--basic-white);
}

.logo-image {
  width: 220px;
  height: 52px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.logo-image:hover {
  background-color: var(--basic-dark-red);
}

.search-form {
  color: var(--basic-white);
  width: 271px;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
}

.search-form::before {
  position: absolute;
  content: url("../img/icon-search.svg");
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-form:hover::before {
  opacity: 1;
}

.search-form-input {
  background-color: rgba(0, 0, 0, 0);
  color: var(--basic-white);
  border: 0;
  padding: 0;
  padding-left: 42px;
  color: var(--basic-white);
  width: 290px;
  height: 42px;
  outline: none;
}

.search-form:active {
  border: none;
}

.search-form-input:focus {
  border: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-form-input:focus::before {
  position: absolute;
  content: url("../img/icon-search-red.svg");
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 1;
}

.search-form-input::placeholder {
  color: var(--basic-white);
  position: relative;
}

.search-form-input:focus::placeholder, .search-form-input:active::placeholder {
  position: absolute;
  content: url("../img/icon-search-red.svg");
  width: 17px;
  height: 17px;
  top: 12px;
  left: 17px;
  opacity: 1;
}

.upper-line-bookmark {
  width: 150px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.upper-line-bookmark a {
  padding-right: 24px;
  position: relative;
}

.upper-line-bookmark a::before {
  position: absolute;
  content: url("../img/icon-bookmark.svg");
  width: 14px;
  height: 16px;
  left: -24px;
  top: 2px;
  opacity: 0.3;
}

.upper-line-bookmark a:hover::before {
  opacity: 1;
}

.upper-line-cart {
  width: 150px;
  height: 42px;
  position: relative;
  display: grid;
}

.upper-line-cart::before {
  position: absolute;
  content: url("../img/icon-cart.svg");
  width: 15px;
  height: 15px;
  top: 11px;
  left: 24px;
  opacity: 0.3;
}

.upper-line-cart:hover::before {
  opacity: 1;
}

.upper-line-cart-red {
  background-color: var(--basic-red);
}

.upper-line-search:active, .upper-line-bookmark:active, .upper-line-cart:active, .upper-line-offer:active {
  opacity: 0.5;
}

.upper-line-cart a {
  padding-right: 23px;
  padding-left: 47px;
  padding-top: 9px;
}

.upper-line-offer {
  text-align: center;
  background-color: var(--basic-green);
  width: 150px;
  height: 42px;
  display: grid;
  align-items: center;
}

.contacts {
  display: grid;
  grid-template-columns: max-content 1fr min-content min-content;
  grid-template-rows: auto 1fr;
  width: 940px;
  justify-self: center;
}

.contacts h1 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  color: var(--basic-red);
  margin: 44px 93px 0 30px;
  display: grid;
  grid-row: 1/3;
}

.contacts-phone {
  width: 270px;
  height: 45px;
  border: 3px solid var(--basic-white);
  box-sizing: border-box;
  text-align: center;
  margin: 46px 0px 0 0px;
  position: relative;
  display: grid;
  align-content: center;
  justify-content: flex-end;
}

.contacts-phone::before {
  position: absolute;
  content: url("../img/icon-phone.svg");
  width: 15px;
  height: 15px;
  top: 10px;
  left: 37px;
}

.contacts-phone a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  background-color: var(--basic-light-gray);
  display: grid;
  margin-right: 45px;
}

.contacts p {
  color: var(--basic-dark-teal);
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  order: 1;
  display: grid;
  justify-content: center;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 40px;
  padding: 0;
}

.contacts-login {
  width: 121px;
  height: 45px;
  background-color: var(--basic-white);
  margin: 46px 5px 0 0;
  display: grid;
  justify-content: right;
  align-items: center;
}

.contacts-registration a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding: 12px 25px;
}



.contacts-login a {
  padding-right: 27px;
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding: 12px 25px 12px 47px;
  margin-right: 2px;
}



.contacts-login a::before {
  position: absolute;
  content: url("../img/icon-login.svg");
  width: 20px;
  height: 17px;
  top: 14px;
  left: 21px;
  opacity: 0.3;
}

.contacts-login a:hover::before {
  opacity: 1;
}

.contacts-registration {
  width: 150px;
  height: 45px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  text-align: center;
  margin: 46px 0 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-login a:hover, .contacts-registration a:hover {
  color: var(--basic-red);
}

.contacts-login a:active, .contacts-registration a:active {
  color: var(--basic-greylight);
}

.contacts-login-user a {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-black);
  padding-top: 12px;
  padding-bottom: 12px;
}

.contacts-login-user a:hover {
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
  color: var(--basic-black);
}


.contacts-login-user {
  width: 299px;
  height: 45px;
  background-color: var(--basic-white);
  text-align: center;
  display: grid;
  grid-column: -1/-3;
  align-self: flex-end;
  align-content: center;
  position: relative;
}

.contacts-login-user a::before {
  position: absolute;
  content: url("../img/icon-user.svg");
  width: 20px;
  height: 18px;
  top: 13px;
  left: 15px;
  opacity: 0.3;
}

.user-logout {
  position: absolute;
  content: url("../img/icon-logout.svg");
  width: 20px;
  height: 17px;
  top: 3px;
  right: 17px;
  opacity: 0.3;
}

.contacts-login-user a:hover::before, .user-logout:hover {
  opacity: 1;
}

.contacts-login-user a:active::before, .user-logout:active, .contacts-login-user:focus {
  opacity: 0.3;
}

.my-cabinet {
  font-size: 16px;
  line-height: 18px;
  order: 3;
  grid-column: -1/-3;
  display: flex;
  justify-self: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 7px;
  width: 210px;
}

.my-cabinet a {
  color: var(--basic-dark-teal);
}

.my-cabinet a:hover {
  color: var(--basic-red);
}

.my-cabinet a:active, .contacts-login-user a:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-dark-teal);
  list-style: none;
  width: 940px;
  justify-self: center;
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation-object:hover,
.site-navigation-object:focus {
  background-color: var(--basic-dark-blue);
}

.site-navigation-object:active {
  opacity: 0.5;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.site-navigation-object {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  padding: 16px 28px 20px 28px;
  color: var(--basic-white);
  display: inline-block;
}

.site-navigation li:nth-child(1) {
  padding-left: 25px;
}

.site-navigation li:last-child {
  padding-right: 25px;
}

.container {
  color: var(--basic-white);
  background-color: var(--basic-white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  width: 100%;
}

.container a {
  text-decoration: none;
}

.offers {
  margin: 59px 0;
  width: 940px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.offers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.offers-list li {
  width: 300px;
  height: 123px;
  background-repeat: no-repeat;
}

.offers-head {
  margin: 0;
  margin-top: 20px;
  margin-left: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.offers-list li:nth-child(1) {
  background-color: var(--basic-special-yellow);
  background-image: url("../img/materials.svg");
  background-position: 83% 52%;
}

.offers-list li:nth-child(2) {
  background-color: var(--basic-teal);
  background-image: url("../img/instruments.svg");
  background-position: 87% 56%;
}

.offers-list li:nth-child(3) {
  background-color: var(--basic-pink);
  background-image: url("../img/technics.svg");
  background-position: 86% 54%;
}

.offers-list li:nth-child(4) {
  background-color: var(--basic-light-green);
  background-image: url("../img/basket.svg");
  grid-column: 3/4;
  grid-row: 2/3;
  background-position: 80% 50%;
}

.offers-list li:nth-child(5) {
  background-color: var(--basic-light-yellow);
  background-image: url("../img/delivery.svg");
  grid-column: 3/4;
  grid-row: 3/4;
  background-position: 86% 55%;
}

.offers-button {
  background-color: rgba(255, 255, 255, 0.3);
  width: 135px;
  height: 38px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  margin-left: 23px;
  margin-top: 14px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.offers-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.offers-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
  margin: 0;
  padding: 0;
  position: relative;
}

.slider-1 {
  width: 620px;
  height: 266px;
  background-image: url("../img/workerperf.jpg");
}

.slider-2 {
  width: 620px;
  height: 266px;
  background-image: url("../img/workerdrill.jpg");
}

.slider h2 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 23px 0 0 24px;
}

.slider p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 5px 0 0 24px;
}

.slider-button-left, .slider-button-right {
  width: 22px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-button-left {
  background-image: url("../img/icon-left.svg");
  position: absolute;
  top: 122px;
  left: 24px;
  border: none;
}

.slider-button-right {
  background-image: url("../img/icon-right.svg");
  top: 122px;
  right: 24px;
  border: none;
  position: absolute;
}

.slider-button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 11px 45px 9px 45px;
}

.slider-1 .slider-button-style {
  width: 192px;
  height: 38px;
  padding: 0;
  margin: 0;
  background-color: var(--basic-red);
  position: absolute;
  bottom: 27px;
  left: 24px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.slider-2 .slider-button-style {
  width: 192px;
  height: 38px;
  padding: 0;
  margin: 0;
  background-color: var(--basic-red);
  position: absolute;
  bottom: 27px;
  left: 24px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.slider-button-style:hover {
  background-color: var(--basic-red-over);
}

.slider-button-style:active {
  background-color: var(--basic-red-click);
}

.slider-dots {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--basic-white);
  bottom: 36px;
  left: 295px;
}

.slider-dots-active {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--basic-white);
  bottom: 36px;
  left: 315px;
}

.slider-dots-active::before {
  content:"";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--basic-red);
}

.slider-2 .slider-dots {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--basic-white);
  bottom: 36px;
  left: 315px;
}

.slider-2 .slider-dots-active {
  content:"";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--basic-white);
  bottom: 36px;
  left: 295px;
}

.slider-2 .slider-dots-active::before {
  content:"";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--basic-red);
}

.catalog {
  width: 940px;
  background-color: var(--basic-white);
}

.catalog-line {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 89px;
  align-content: center;
  background-color: var(--basic-beige);
}

.catalog h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-teal);
  margin-left: 28px;
}

.catalog-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 23px 9px 23px;
}

.catalog-button-style {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  margin-right: 14px;
  display: grid;
  align-content: center;
  align-self: center;
  justify-content: center;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 20px;
  margin-top: 20px;
}

.catalog-item {
  width: 220px;
  height: 318px;
  border: 1px solid var(--basic-border-color);
  box-sizing: border-box;
  background-color: var(--basic-white);
  padding-bottom: 21px;
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: auto min-content min-content min-content;
  justify-content: center;
  position: relative;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item s {
  color: var(--basic-gray);
  padding-bottom: 13px;
}

.redprice {
  width: 141px;
  height: 38px;
  background-image: url("../img/redprice.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-white);
  display: grid;
  justify-self: center;
  margin-left: 13px;
}

.catalog-button-price {
  color: var(--basic-white);
  padding-top: 2px;
  padding-right: 12px;
}

.catalog-item s, .catalog-item p, .catalog-button-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  display: grid;
  justify-self: center;
  align-items: center;
}

.catalog-button-price {
  text-decoration: none;
}

.catalog-item p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  text-align: center;
  padding-bottom: 7px;
  margin: 0;
}

.img-9000 {
  margin-top: 6px;
  margin-left: 18px;
}

.img-6000 {
  margin-top: 22px;
  margin-left: 33px;
}

.img-3000, .img-2000 {
  margin-top: 29px;
  margin-left: 40px;
}

.over-catalog-variant {
  width: 212px;
  height: 160px;
  display: grid;
  gap: 10px;
  position: absolute;
  background-color: var(--basic-white);
  justify-content: center;
  align-content: center;
  display: none;
}

.catalog-item:hover .over-catalog-variant {
  display: grid;
}

.item-buy-link, .item-favorites-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.catalog-item-buy {
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  text-align: center;
  box-sizing: border-box;
}

.catalog-item-buy:hover {
  background-color: var(--basic-strong-green);
}

.catalog-item-buy:active {
  background-color: var(--basic-dark-green);
}

.item-buy-link {
  color: var(--basic-white);
  display: grid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  position: relative;
}

.item-buy-link::before {
  content: url("../img/icon-cart.svg");
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: 30px;
}

.catalog-item-favorites {
  width: 135px;
  height: 38px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  text-align: center;
}

.item-favorites-link {
  color: var(--basic-dark-teal);
  display: grid;
  padding-top: 9px;
  padding-bottom: 9px;
}

.catalog-item-favorites:hover {
  border: 3px solid var(--basic-dark-teal);
}

.catalog-item-favorites:active {
  border: 3px solid var(--basic-dark-teal);
  opacity: 50%;
}

.manufacturers {
  width: 940px;
  background: var(--basic-white);
  margin-top: 70px;
  margin-bottom: 70px;
}

.line-manufacturers {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 89px;
  align-items: center;
  background-color: var(--basic-beige);
}

.manufacturers a {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.manufacturers-button-style {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  margin-right: 14px;
  display: grid;
  align-self: center;
  align-content: center;
  justify-content: center;
}

.manufacturers-button {
  padding: 11px 36px 9px 36px;
}

.manufacturers h2 {
  font-size: 30px;
  font-weight: 400;
  ;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-dark-teal);
  margin-left: 28px;
}

.manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  margin-top: 20px;
}

.manufacturers-item {
  border: 1px solid var(--basic-border-color);
  width: 220px;
  height: 145px;
  box-sizing: border-box;
  background: var(--basic-white);
  display: grid;
  justify-content: center;
  align-items: center;
}

.manufacturers-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}

.manufacturers-item:first-child img{
  padding-bottom: 5px;
}

.manufacturers-item:nth-child(2) img{
  padding-bottom: 10px;
}

.manufacturers-item:nth-child(3) img{
  padding-bottom: 10px;
}

.manufacturers-item:nth-child(4) img{
  padding-bottom: 3px;
}

.manufacturers-item:nth-child(5) img{
  padding-left: 5px;
}

.manufacturers-item:nth-child(6) img{
  padding-bottom: 5px;
}
.manufacturers-item:last-child img{
  padding-bottom: 3px;
}

.manufacturers-item a {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
}

.services {
  background-color: var(--basic-light-gray);
  width: 100%;
  height: 522px;
  display: grid;
  justify-self: center;
}

.services-background {
  background-color: var(--basic-light-gray);
  width: 940px;
  display: grid;
  justify-self: center;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 64px;
}

.services-background p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  padding-bottom: 67px;
  margin: 0;
}

.services-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.services-list::after {
  position: absolute;
  content: url("../img/vertical-line-services.svg");
  top: -40px;
  right: 0px;
}

.services-item {
  width: 240px;
  height: 61px;
  font-size: 21px;
  font-weight: 700;
  background-color: var(--basic-dark-teal);
}

.services-item-selected {
  width: 240px;
  height: 61px;
  font-size: 21px;
  font-weight: 700;
  background-color: var(--basic-white);
}

.services-list a {
  color: var(--basic-white);
  margin-left: 22px;
}

.services-item a:hover {
  color: var(--basic-white);
}

.services-item:hover {
  background-color: var(--basic-dark-blue);
}

.services-item:focus {
  background-color: var(--basic-white);
}

.services-item-selected a {
  color: var(--basic-dark-teal);
}

.services-item-selected, .services-item {
  display: grid;
  align-content: center;
}

.services-slider {
  display: grid;
  grid-template-columns: 2/3;
  margin-left: 80px;
}

.services-delivery {
  width: 619px;
  height: 283px;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-delivery h2, .services-guarantee h2, .services-credit h2 {
  color: var(--basic-dark-teal);
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
}

.services-delivery p, .services-guarantee p, .services-credit p {
  color: var(--basic-dark-teal);
  margin-top: 30px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-guarantee {
  width: 628px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-credit {
  width: 638px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-credit p {
  padding-bottom: 26px;
}

.services-credit-button {
  width: 195px;
  height: 38px;
  background-color: var(--basic-red-submit);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.promo {
  width: 940px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
}

.company-description {
  background: var(--basic-white);
  color: var(--basic-black);
  width: 460px;
  height: 356px;
  margin: 70px 0;
  grid-column: 1/2;
}

.company-description h2 {
  text-transform: uppercase;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.promo-first {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 24px;
}

.promo-second {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.company-description p:last-child {
  padding-bottom: 18px;
}

.company-description ul {
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
  margin: 4px 0px 20px 37px;
  padding: 0;
}

.promo-list li {
  margin-bottom: 12px;
  position: relative;
  line-height: 24px;
}

.promo-list li::before {
  display: block;
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  left: -37px;
  top: 10px;
}

.company-button {
  width: 220px;
  height: 38px;
  background-color: var(--basic-red);
  display: grid;
  align-content: center;
  justify-content: center;
}

.company-description-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 40px 9px 39px;
}

.contacts-map {
  background: var(--basic-white);
  color: var(--basic-black);
  width: 301px;
  height: 356px;
  margin: 70px 0;
  grid-column: 2/3;
}

.contacts-map h2 {
  text-transform: uppercase;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.contacts-map p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 32px;
  ;
}

.map-button {
  width: 300px;
  height: 38px;
  background-color: var(--basic-red);
  margin-top: 21px;
  display: grid;
  align-content: center;
  justify-content: center;
}

.contacts-map-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 61px 9px 61px;
}

.promo {
  position: relative;
}

.modal-cart {
  color: var(--basic-black);
  position: fixed;
  z-index: 1;
  width: 620px;
  height: 282px;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: auto min-content;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-cart h3 {
  justify-self: center;
  align-self: center;
  font-size: 24px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.modal-cart h3::before {
  content: url("../img/icon-mark.svg");
  position: absolute;
  width: 66px;
  height: 66px;
  left: 81px;
  top: 48px;
}

.modal-cart-button-form {
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 37px;
}

.modal-cart-button-form-next {
  width: 192px;
  height: 38px;
  background-color: var(--basic-white);
  display: grid;
  align-content: center;
  justify-content: center;
  margin-top: 37px;
}

.modal-cart-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  padding: 11px 45px 9px 46px;
}

.modal-cart-button-next {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 11px 30px 9px 32px;
}

.modal-cart-button-background {
  background-color: var(--basic-light-graybeige);
  width: 620px;
  height: 112px;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  justify-content: center;
}

.modal-button-close-cart {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.modal {
  color: var(--basic-black);
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  position: relative;
  width: 620px;
  grid-column: 1/-1;
  justify-self: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 52px;
  left: 152px;
}

.modal-form {
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  justify-items: center;
  column-gap: 20px;
  background-color: var(--basic-white);
}

.modal-item-name {
  font-size: 18px;
  line-height: 24px;
  justify-self: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 39px;
}

.modal-item-email {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-self: left;
  margin-top: 39px;
}

.modal-item-letter {
  grid-column: 1/-1;
  font-size: 18px;
  line-height: 24px;
  margin-top: 13px;
}

.modal-item-name input, .modal-item-email input {
  border: 2px solid var(--basic-greylight);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 220px;
  height: 38px;
  padding: 6px 8px 7px 10px;
  box-sizing: border-box;
  margin-top: 11px;
}

.modal-item-letter textarea {
  width: 460px;
  height: 114px;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 11px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  padding: 4px 8px 7px 10px;
}

.modal-button-close {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  position: absolute;
  top: 21px;
  right: 11px;
  border: none;
  cursor: pointer;
}

.modal-button-close-map {
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-color: rgba(255, 255, 255, 0);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.modal-button {
  width: 460px;
  height: 38px;
  background-color: var(--basic-red);
  margin-top: 25px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 37px;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal-button-background {
  background-color: var(--basic-light-beige);
  width: 620px;
  height: 112px;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

.map-map-button {
  width: 460px;
  height: 38px;
  background-color: var(--basic-red);
  text-align: center;
}

.modal-map-big {
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  position: relative;
  justify-self: center;
  position: absolute;
  top: 14px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map-big iframe{
  border: none;
  width: 943px;
  height: 442px;
}

.main-footer {
  background-color: var(--basic-dark-teal);
  width: 100%;
  display: grid;
}

.footer-block-1 {
  width: 940px;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-block-1 p {
  margin-bottom: 54px;
  margin-top: 21px;
  padding-left: 3px;
  padding-top: 3px;

}

.logo-image-footer {
  width: 220px;
  height: 68px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo-image-footer:hover {
  background-color: var(--basic-dark-red);
}

.logo-image-footer-link {
  padding: 21px 41px 19px 40px;
}

.footer-navigation-1 {
  background-color: var(--basic-dark-teal);
}

.footer-list-1 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 39px;
}

.footer-list-1 li {
  margin: 0 29px;
}

.footer-list-1 li:last-child {
  margin-right: 0;
}

.footer-navigation-1 a {
  color: var(--basic-light-gray);
}

.footer-navigation-2 {
  background-color: var(--basic-dark-teal);
}

.footer-list-2 {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 27px;
}

.footer-list-2 li {
  margin: 0 29px;
}

.footer-list-2 li:first-child {
  margin-left: 80px;
}

.footer-list-2 li:nth-child(3) {
  margin-left: 31px;
}

.footer-list-2 li:last-child {
  margin-right: 0;
}

.footer-navigation-2 a {
  color: var(--basic-orange);
}

.footer-navigation-1 a:hover, .footer-navigation-2 a:hover, .footer-mail a:hover, .footer-copyright a:hover {
  text-decoration: underline;
}

.footer-navigation-1 a:active {
  color: rgba(241, 245, 247, 0.3);
  text-decoration: none;
}

.footer-navigation-2 a:active {
  color: rgba(255, 209, 128, 0.3);
  text-decoration: none;
}

.main-footer p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-light-gray)
}

.lower-line {
  background-color: var(--basic-dark-blue);
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  width: 940px;
}

.lower-line-background {
  background-color: var(--basic-dark-blue);
  width: 100%;
  justify-content: center;
  display: grid;
}



.copyright {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 0px;}

.footer-social-list {
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-social-list li {
  width: 44px;
  height: 44px;
  text-align: center;
  display: grid;
  align-items: center;
  background-image: url("../img/social-round-blue.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button {
  display: grid;
  align-self: center;
  justify-self: center;
  width: 44px;
  height: 44px;
}

.social-button img {
  display: grid;
  align-self: center;
  justify-self: center;
}

.footer-social-list li:hover, .footer-social-list li:active {
  background-image: url("../img/social-round-red.svg")
}

.footer-mail,
.footer-copyright {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer-copyright {
  margin: 35px 13px 35px 51px;
}

.footer-mail {
  margin: 37px 2px 35px 118px;
}

.footer-mail a, .footer-copyright a {
  color: var(--basic-orange)
}

.footer-mail a:active, .footer-copyright a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.main-catalog-container {
  background-color: var(--basic-white);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.main-catalog-container a {
  text-decoration: none;
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-top: 21px;
  align-self: center;
}

.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 940px;
}

.breadcrumbs-list li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs-list li:nth-child(1) {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-list li:nth-child(2) {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs-list li:nth-child(2)::before {
  position: absolute;
  content: url("../img/icon-next.svg");
  width: 8px;
  height: 12px;
  top: 2px;
  left: -27px;
}

.breadcrumbs-list li:nth-child(3) {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs-list li:nth-child(3)::before {
  position: absolute;
  content: url("../img/icon-next.svg");
  width: 8px;
  height: 12px;
  top: 2px;
  left: -23px;
}

.breadcrumbs-list li:nth-child(4) {
  position: relative;
  margin-right: 43px;
}

.breadcrumbs-list li:nth-child(4)::before {
  position: absolute;
  content: url("../img/icon-next.svg");
  width: 8px;
  height: 12px;
  top: 2px;
  left: -22px;
}

.perforators {
  width: 940px;
  display: grid;
  align-self: center;
}

.perforators h1 {
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  padding: 30px 100px 30px 29px;
  color: var(--basic-dark-teal);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
  grid-column: 1/-1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-catalog {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 20px;
  width: 940px;
  justify-self: center;
  align-self: center;
}

.catalog-filters {
  background-color: var(--basic-white);
  text-transform: uppercase;
  grid-row: 1/-1;
  grid-column: 1/2;
}

.catalog-filters-header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
  padding: 10px 100px 10px 18px;
  margin: 0;
}

.filter-price p, .filter-manufacturers p, .filter-power p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.filter-price p {
  margin-top: 14px;
}

.filter-manufacturers p {
  margin-top: 16px;
  margin-bottom: 17px;
}

.range-filter {
  border-bottom: 1px solid var(--basic-border-color);
  padding-bottom: 25px;
}

.filter-manufacturers {
  border-bottom: 1px solid var(--basic-border-color);
}

.filter-manufacturers ul {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.filter-option {
  margin-bottom: 21px;
  padding-left: 35px;
  font-size: 15px;
  line-height: 19px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  width: 50px;
}

.filter-input-checkbox+label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  left: -35px;
  top: 0;
  width: 16px;
  height: 16px;
}

.filter-input-checkbox+label:hover::before {
  content: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked+label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -35px;
  top: 0;
  width: 16px;
  height: 16px;
}

.filter-input-checkbox:checked+label:hover::before {
  content: url("../img/checkbox-off-hover.svg");
}

.filter-power p {
  margin-top: 18px;
  margin-bottom: 23.35px;
}

.filter-power ul {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.filter-option-power {
  margin-bottom: 22.5px;
  padding-left: 35px;
}

.filter-option-power label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  width: 50px;
}

.filter-power-input+label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  left: -35px;
  top: -3px;
  width: 16px;
  height: 16px;
}

.filter-power-input+label:hover::before {
  content: url("../img/radio-off-hover.svg");
}

.filter-power-input:checked+label::before {
  content: url("../img/radio-on.svg");
  position: absolute;
  left: -35px;
  top: -3px;
  width: 16px;
  height: 16px;
}

.filter-power-input:checked+label:hover::before {
  content: url("../img/radio-on-hover.svg");
}

.pricearea {
  width: 95px;
  height: 38px;
  background-color: var(--basic-pricearea);
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  border: 0px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-pricearea);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 75px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--basic-pricearea);
  font-family: inherit;
  font-size: inherit;
}

.price-controls p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 10px;
}

.min-price input, .max-price input {
  font-family: "PT Sans", "Arial", sans-serif;
  outline: none;
}

.catalog-filters ul {
  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border-color-2);
  width: 220px;
  height: 38px;
  cursor: pointer;
}

.sort-line {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-pricearea);
  grid-column: 2/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: min-content auto auto auto 1fr 1fr;
}

.sort-line p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
}

.sort-line-price {
  padding-left: 140px;
}

.sort-line-type {
  padding-left: 70px;
}

.sort-line-function {
  padding-left: 65px;
}

.grow-up {
  padding-left: 46px;
  position: relative;
}

.grow-up a {
  content: url("../img/grow-up-rest.svg");
  position: absolute;
  width: 11px;
  height: 10px;
  top: -3px;
}

.grow-up a:hover {
  content: url("../img/grow-up-hover.svg");
}

.grow-up a:focus {
  content: url("../img/grow-up-active.svg");
}

.grow-down {
  padding-left: 21px;
  position: relative;
}

.grow-down a {
  content: url("../img/grow-down-rest.svg");
  position: absolute;
  width: 11px;
  height: 10px;
  top: -3px;
  left: 27px;
}

.grow-down a:hover {
  content: url("../img/grow-down-hover.svg");
}

.grow-down a:focus {
  content: url("../img/grow-down-active.svg");
}

.sort-line-price a, .sort-line-type a, .sort-line-function a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sort-line-price a:hover, .sort-line-type a:hover, .sort-line-function a:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-line-price a:focus, .sort-line-type a:focus, .sort-line-function a:focus {
  color: var(--basic-red);
  border: none;
}

.sort-line div {
  align-self: center;
}

.main-catalog {
  width: 700px;
}

.catalog-list-main-catalog {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 28px;
  row-gap: 18px;
}

.catalog-list li,
.catalog-list-main-catalog li {
  overflow: hidden;
  position: relative;
}

.catalog-list li:nth-child(2):after,
.catalog-list li:nth-child(4):after,
.catalog-list-main-catalog li:nth-child(3)::after,
.catalog-list-main-catalog li:nth-child(4)::after,
.catalog-list-main-catalog li:nth-child(6)::after,
.catalog-list-main-catalog li:nth-child(7)::after,
.catalog-list-main-catalog li:nth-child(9)::after {
  content: "new";
  text-transform: uppercase;
  color: var(--basic-white);
  width: 100px;
  height: 30px;
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -25px;
  top: 7px;
  transform: rotate(45deg);
}

.pages {
  grid-column: 2/-1;
  margin-top: 48px;
  margin-bottom: 59px;
}

.pages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: min-content min-content min-content min-content;
}

.pages a {
  text-decoration: none;
}

.page-number-selected, .page-number {
  width: 38px;
  height: 38px;
  border: 1px solid var(--basic-border-color-2);
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  align-content: center;
}

.page-number-next {
  width: 140px;
  height: 38px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-border-color-2);
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  align-content: center;
}

.page-number-selected {
  background-color: var(--basic-red);
}

.page-number, .page-number-next {
  background-color: var(--basic-white);
}

.page-number a, .page-number-next a {
  color: var(--basic-black);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-number-selected a {
  color: var(--basic-white);
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.page-number:hover, .page-number-next:hover, .page-number-selected:hover {
  border: 1px solid var(--basic-greylight);
  border-radius: 2px;
}

.page-number:active, .page-number-next:active, .page-number-selected:active {
  border: 1px solid var(--basic-red);
}

.perforators-description {
  width: 100%;
  color: var(--basic-black);
  background-color: var(--basic-light-gray);
  display: grid;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.perforators-description h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  width: 940px;
  margin-top: 64px;
  margin-bottom: 0px;
}

.perforators-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  width: 940px;
  margin-bottom: 71px;
  margin-top: 25px;
}
